@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 2.6em;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1,
h2 {
  text-align: center;
}

/* Form section */
form .text-info {
  color: #94bee0;
}

label {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: left;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

form fieldset {
  border: none;
  padding: 0;
  width: 20%;
  margin: 0 auto;
}

label .error-notification {
  color: #f76c6c;
}

.member-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.member-item {
  padding: 0.25em 0;
  width: 33%;
}

.fa-venus {
  color: pink;
}

.fa-mars {
  color: #94bee0;
}

button {
  background-color: #f76c6c;
  color: #fff;
  font-size: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 6px;
  margin-top: 1.5em;
}

button:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* Footer section */
footer {
  margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}
